<ion-content class="ion-padding">
  <div class="container">
    <ion-card class="form-card">
      <ion-card-header>
        <ion-card-title>Join Form</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form>
          <h1 class="form-heading">Esport Event</h1>
          <ion-item>
            <ion-label position="stacked">Student ID</ion-label>
            <ion-input
              name="studentId"
              ngModel
              required
              placeholder="Enter valid student ID"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Full Name</ion-label>
            <ion-input
              name="fullName"
              ngModel
              required
              placeholder="Enter full name"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Group Code</ion-label>
            <ion-input
              name="groupCode"
              ngModel
              required
              placeholder="Enter group code"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Contact No</ion-label>
            <ion-input
              name="contactNo"
              ngModel
              required
              placeholder="Enter contact number"
            ></ion-input>
          </ion-item>
          <ion-button color="tertiary" expand="block" type="submit">
            Join
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
