<ion-content>
  <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    "
  >
    <ion-card
      style="
        border-radius: 20px;
        border: 4px solid black;
        background-color: #fef9f3;
        width: 100%;
      "
    >
      <ion-card-content>
        <form #joinForm="ngForm" (ngSubmit)="submitForm()">
          <ion-card-header>
            <ion-card-title>Student ID</ion-card-title>
            <ion-card-subtitle>
              <ion-input
                name="studentId"
                ngModel
                required
                placeholder="Enter valid student ID"
              ></ion-input>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-header>
            <ion-card-title>Full Name</ion-card-title>
            <ion-card-subtitle>
              <ion-input
                name="fullName"
                ngModel
                required
                placeholder="Enter full name"
              ></ion-input>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-header>
            <ion-card-title>Group Code</ion-card-title>
            <ion-card-subtitle>
              <ion-input
                name="groupCode"
                ngModel
                required
                placeholder="Enter group code"
              ></ion-input>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-header>
            <ion-card-title>Contact No</ion-card-title>
            <ion-card-subtitle>
              <ion-input
                name="contactNo"
                ngModel
                required
                placeholder="Enter contact no"
              ></ion-input>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-button color="tertiary" shape="round" type="submit"
            >Sign In</ion-button
          >
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
