<ion-content>
  <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    "
  >
    <ion-card
      style="
        border-radius: 20px;
        border: 4px solid black;
        background-color: #fef9f3;
      "
    >
      <img
        src="assets/img/EsportClub.jpg"
        style="border-bottom: 4px solid black; width: 100%"
      />
      <ion-card-content>
        <form>
          <ion-card-header>
            <ion-card-title>Student ID</ion-card-title>
            <ion-card-subtitle>
              <ion-input
                name="studentId"
                ngModel
                required
                placeholder="Enter valid student ID"
              ></ion-input>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-header>
            <ion-card-title>Full Name</ion-card-title>
            <ion-card-subtitle>
              <ion-input
                name="fullName"
                ngModel
                required
                placeholder="Enter full name"
              ></ion-input>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-header>
            <ion-card-title>Group Code</ion-card-title>
            <ion-card-subtitle>
              <ion-input
                name="groupCode"
                ngModel
                required
                placeholder="Enter group code"
              ></ion-input>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-button color="tertiary" shape="round" id="attendance"
            >Sign In</ion-button
          >
        </form>
      </ion-card-content>
    </ion-card>
    <ion-modal #modal2 trigger="attendance">
      <ng-template>
        <ion-card-content>
          <div
            style="
              display: flex;
              align-items: center;
              background-color: #08415c;
            "
          >
            <ion-card-header
              style="
                padding: 30px;
                margin: 0 auto;
                display: block;
                border-radius: 20px;
              "
            >
              <ion-card-title style="text-align: center; color: white"
                >Thank you for joining!</ion-card-title
              >
              <ion-card-title style="text-align: center; color: white"
                >ESPORT CLUB</ion-card-title
              >
              <ion-card-subtitle
                style="
                  text-align: center;
                  color: white;

                  border: none;
                "
                >Sign In: 17 Oct 2023 / 03:30 PM</ion-card-subtitle
              >
            </ion-card-header>
          </div>
          <ion-card-content
            style="
              display: flex;
              align-items: center;
              justify-content: space-between;
            "
          >
            <div style="display: flex; align-items: center">
              <img
                src="assets/img/profile3.png"
                style="width: 60px; height: 60px"
              />
              <div
                style="
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  padding-left: 20px;
                "
              >
                <p class="cardtitle">Dato Akmallala Bin Roslan</p>
                <p class="cardsub">22ftt1203</p>
                <p class="cardsub">DWDT08</p>
              </div>
            </div>
          </ion-card-content>
          <ion-card-subtitle
            style="text-align: center; color: black; margin-bottom: 30px"
            >You earned 4 EP points</ion-card-subtitle
          >
          <ion-button
            color="tertiary"
            (click)="modal2.dismiss()"
            style="margin: 0 auto; display: block; width: 30%"
            routerLink="/tabs/tab1"
            >Ok</ion-button
          >
        </ion-card-content>
      </ng-template>
    </ion-modal>
  </div>
</ion-content>
