<ion-header [translucent]="true">
  <ion-toolbar color="dark" style="height: 70px; padding: 10px">
    <ion-title style="text-align: center">Esport Convo Event</ion-title>
    <ion-buttons slot="start" style="margin-right: -40px">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="border-radius: 20px; padding: 0; margin: 20px">
    <img
      style="width: 100%; height: 250px; object-fit: cover"
      src="assets/img/PestaConvo.jpg"
    />
  </ion-card>
  <!-- Event Description -->

  <ion-card
    style="border-radius: 20px; padding: 5px; margin: 10px; box-shadow: none"
  >
    <ion-card-header>
      <ion-card-title>Event Description</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Assalamualaikum everyone and a very Good Morning,</p>
      <br />
      <p>
        We would like to encourage students to join PESTA CONVO ESPORTS 🎮 on
        the following dates given attached on the poster.
      </p>
      <br />
      <p>13th - 15th OCTOBER</p>
      <br />
      <p>
        We are looking for students who are interested in playing games such as
        Mobile Legends, PUBG, and FIFA 21. We are also looking for students who
        are interested in being a commentator or a referee.
      </p>
      <br />
      <h2>Endorsed For EP!!</h2>
      <!-- Join Button -->
      <ion-button color="tertiary" shape="round" type="submit"
        >Join Now</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>

<!-- footer -->
<ion-footer>
  <ion-toolbar color="dark" style="height: 70px"> </ion-toolbar>
</ion-footer>
