<ion-header [translucent]="true">
  <ion-toolbar color="dark" style="height: 70px; padding: 10px">
    <ion-title style="text-align: center">Ep Records</ion-title>
    <ion-buttons slot="start" style="margin-right: -40px">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div
    style="
      background-image: url(assets/img/frameBG.png);
      background-size: cover;
    "
  >
    <ion-card>
      <img
        src="assets/img/EsportClub.jpg"
        style="border-bottom: 4px solid black"
      />
      <ion-card-content
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
        "
      >
        <div style="display: flex; align-items: center">
          <h2 style="margin: 0; color: black">Club:</h2>
        </div>
        <p style="margin: 0; font-weight: bold; font-size: 15px">Esport Club</p>
      </ion-card-content>
      <ion-card-content
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
        "
      >
        <div style="display: flex; align-items: center">
          <h2 style="margin: 0; color: black">Attendances:</h2>
        </div>
        <p style="margin: 0; font-weight: bold; font-size: 15px">Attend ✅</p>
      </ion-card-content>
      <ion-card-content
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
        "
      >
        <div style="display: flex; align-items: center">
          <h2 style="margin: 0; color: black">Sign In:</h2>
        </div>
        <p style="margin: 0; font-weight: bold; font-size: 15px">2:20 PM</p>
      </ion-card-content>
      <ion-card-content
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
        "
      >
        <div style="display: flex; align-items: center">
          <h2 style="margin: 0; color: black">Date:</h2>
        </div>
        <p style="margin: 0; font-weight: bold; font-size: 15px">
          2 September 2023
        </p>
      </ion-card-content>
      <ion-card-content
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
        "
      >
        <div style="display: flex; align-items: center">
          <h2 style="margin: 0; color: black">Ep Gained:</h2>
        </div>
        <p style="margin: 0; font-weight: bold; font-size: 15px">+4</p>
      </ion-card-content>
    </ion-card>
    <!-- card 2 -->
    <ion-card
      style="
        border-radius: 20px;
        border: 4px solid black;
        background-color: #fef9f3;
        border: 4px solid black;
      "
    >
      <img
        src="assets/img/handball.jpg"
        style="border-bottom: 4px solid black"
      />
      <ion-card-content
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
        "
      >
        <div style="display: flex; align-items: center">
          <h2 style="margin: 0; color: black">Club:</h2>
        </div>
        <p style="margin: 0; font-weight: bold; font-size: 15px">
          Handball Club
        </p>
      </ion-card-content>
      <ion-card-content
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
        "
      >
        <div style="display: flex; align-items: center">
          <h2 style="margin: 0; color: black">Attendances:</h2>
        </div>
        <p style="margin: 0; font-weight: bold; font-size: 15px">Attend ✅</p>
      </ion-card-content>
      <ion-card-content
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
        "
      >
        <div style="display: flex; align-items: center">
          <h2 style="margin: 0; color: black">Sign In:</h2>
        </div>
        <p style="margin: 0; font-weight: bold; font-size: 15px">5:20 PM</p>
      </ion-card-content>
      <ion-card-content
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
        "
      >
        <div style="display: flex; align-items: center">
          <h2 style="margin: 0; color: black">Date:</h2>
        </div>
        <p style="margin: 0; font-weight: bold; font-size: 15px">
          14 September 2023
        </p>
      </ion-card-content>
      <ion-card-content
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
        "
      >
        <div style="display: flex; align-items: center">
          <h2 style="margin: 0; color: black">Ep Gained:</h2>
        </div>
        <p style="margin: 0; font-weight: bold; font-size: 15px">+4</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<!-- footer -->
<ion-footer>
  <ion-toolbar color="dark" style="height: 70px"> </ion-toolbar>
</ion-footer>
