<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <!-- Logo -->
    <img
      src="assets/img/EpQuestLogo.png"
      alt="Ionic logo"
      style="height: 50px; width: 50px"
    />
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Leaderboard</h2>
  <br />
  <ion-card color="medium">
    <ion-card-content
      style="display: flex; align-items: center; justify-content: space-between"
    >
      <div style="display: flex; align-items: center">
        <p style="margin: 0">1</p>
        <img
          src="assets/img/EpQuestLogo.png"
          style="width: 50px; height: 50px"
        />
        <p style="margin: 0">Abu Rizz</p>
      </div>
      <p style="margin: 0; font-weight: bold">530</p>
    </ion-card-content>
  </ion-card>
  <ion-card color="medium">
    <ion-card-content
      style="display: flex; align-items: center; justify-content: space-between"
    >
      <div style="display: flex; align-items: center">
        <p style="margin: 0">2</p>
        <img
          src="assets/img/EpQuestLogo.png"
          style="width: 50px; height: 50px"
        />
        <p style="margin: 0">Elgato Shafie</p>
      </div>
      <p style="margin: 0; font-weight: bold">480</p>
    </ion-card-content>
  </ion-card>
  <ion-card color="medium">
    <ion-card-content
      style="display: flex; align-items: center; justify-content: space-between"
    >
      <div style="display: flex; align-items: center">
        <p style="margin: 0">3</p>
        <img
          src="assets/img/EpQuestLogo.png"
          style="width: 50px; height: 50px"
        />
        <p style="margin: 0">Lisa</p>
      </div>
      <p style="margin: 0; font-weight: bold">433</p>
    </ion-card-content>
  </ion-card>
  <ion-card color="medium">
    <ion-card-content
      style="display: flex; align-items: center; justify-content: space-between"
    >
      <div style="display: flex; align-items: center">
        <p style="margin: 0">4</p>
        <img
          src="assets/img/EpQuestLogo.png"
          style="width: 50px; height: 50px"
        />
        <p style="margin: 0">John Doe</p>
      </div>
      <p style="margin: 0; font-weight: bold">330</p>
    </ion-card-content>
  </ion-card>
  <ion-card color="medium">
    <ion-card-content
      style="display: flex; align-items: center; justify-content: space-between"
    >
      <div style="display: flex; align-items: center">
        <p style="margin: 0">5</p>
        <img
          src="assets/img/EpQuestLogo.png"
          style="width: 50px; height: 50px"
        />
        <p style="margin: 0">John Doe</p>
      </div>
      <p style="margin: 0; font-weight: bold">280</p>
    </ion-card-content>
  </ion-card>
  <ion-card color="medium">
    <ion-card-content
      style="display: flex; align-items: center; justify-content: space-between"
    >
      <div style="display: flex; align-items: center">
        <p style="margin: 0">6</p>
        <img
          src="assets/img/EpQuestLogo.png"
          style="width: 50px; height: 50px"
        />
        <p style="margin: 0">John Doe</p>
      </div>
      <p style="margin: 0; font-weight: bold">230</p>
    </ion-card-content>
  </ion-card>
  <ion-card color="medium">
    <ion-card-content
      style="display: flex; align-items: center; justify-content: space-between"
    >
      <div style="display: flex; align-items: center">
        <p style="margin: 0">7</p>
        <img
          src="assets/img/EpQuestLogo.png"
          style="width: 50px; height: 50px"
        />
        <p style="margin: 0">John Doe</p>
      </div>
      <p style="margin: 0; font-weight: bold">211</p>
    </ion-card-content>
  </ion-card>
  <ion-card color="medium">
    <ion-card-content
      style="display: flex; align-items: center; justify-content: space-between"
    >
      <div style="display: flex; align-items: center">
        <p style="margin: 0">8</p>
        <img
          src="assets/img/EpQuestLogo.png"
          style="width: 50px; height: 50px"
        />
        <p style="margin: 0">John Doe</p>
      </div>
      <p style="margin: 0; font-weight: bold">190</p>
    </ion-card-content>
  </ion-card>

  <!-- Repeat the above structure for the rest of the cards -->
</ion-content>
