<ion-header [translucent]="true">
  <ion-toolbar color="dark" style="height: 70px; padding: 10px">
    <ion-title style="text-align: center">About Us</ion-title>
    <ion-buttons slot="start" style="margin-right: -40px">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Logo -->
  <img
    src="assets/img/EpQuestLogo.png"
    alt="Ionic logo"
    style="
      height: 150px;
      width: 150px;
      margin: 0 auto;
      display: block;
      margin-top: 20px;
    "
  />

  <ion-card
    style="
      border-radius: 20px;
      padding: 10px;
      border: 4px solid black;
      background-color: #fef9f3;
    "
  >
    <ion-card-header>
      <ion-card-title>About Us</ion-card-title>
      <ion-card-subtitle
        >EP Quest is a student app for tracking enrichment points, allowing
        students to earn points for educational tasks and activities. This
        solution helps schools reduce inventory losses by allowing students to
        check their current points without waiting for the next
        semester.</ion-card-subtitle
      >
    </ion-card-header>
    <ion-card-header>
      <ion-card-title>Mission</ion-card-title>
      <ion-card-subtitle
        >EP Quest aims to motivate college students to take charge of their
        educational lives and become active, stimulated
        competitors.</ion-card-subtitle
      >
    </ion-card-header>
    <ion-card-header>
      <ion-card-title>Vision</ion-card-title>
      <ion-card-subtitle
        >EP Quest is a student point tracking app created for improving student
        engagement and motivation in educational settings.</ion-card-subtitle
      >
    </ion-card-header>
  </ion-card>
</ion-content>

<!-- footer -->
<ion-footer>
  <ion-toolbar color="dark" style="height: 70px"> </ion-toolbar>
</ion-footer>
