<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <!-- Logo -->
    <img
      src="assets/img/EpQuestLogo.png"
      alt="Ionic logo"
      style="height: 50px; width: 50px"
    />
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar animated="true" placeholder="Animated"></ion-searchbar>

  <!-- Activity and event card -->
  <ion-card color="medium">
    <img
      alt="Silhouette of mountains"
      src="https://ionicframework.com/docs/img/demos/card-media.png"
    />
    <ion-card-header>
      <ion-card-title style="text-align: center">Esport Event</ion-card-title>
    </ion-card-header>
  </ion-card>
  <br />
  <ion-card color="medium">
    <img
      alt="Silhouette of mountains"
      src="https://ionicframework.com/docs/img/demos/card-media.png"
    />
    <ion-card-header>
      <ion-card-title style="text-align: center">Esport Event</ion-card-title>
    </ion-card-header>
  </ion-card>
  <br />
  <ion-card color="medium">
    <img
      alt="Silhouette of mountains"
      src="https://ionicframework.com/docs/img/demos/card-media.png"
    />
    <ion-card-header>
      <ion-card-title style="text-align: center">Esport Event</ion-card-title>
    </ion-card-header>
  </ion-card>
  <br />
  <ion-card color="medium">
    <img
      alt="Silhouette of mountains"
      src="https://ionicframework.com/docs/img/demos/card-media.png"
    />
    <ion-card-header>
      <ion-card-title style="text-align: center">Esport Event</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
