<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <!-- Logo -->
    <img
      src="assets/img/EpQuestLogo.png"
      alt="Ionic logo"
      style="height: 50px; width: 50px"
    />
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar
    animated="true"
    placeholder="Search clubs or events"
  ></ion-searchbar>

  <!-- Activity and event card -->
  <ion-card color="light">
    <img
      alt="Silhouette of mountains"
      src="assets/img/PestaConvo.jpg"
      style="height: 370px; width: 100%"
    />
    <ion-card-header>
      <ion-card-title style="text-align: center; color: aliceblue"
        >Esport Convo Event</ion-card-title
      >
    </ion-card-header>
  </ion-card>
  <br />
  <ion-card color="light">
    <img
      alt="Silhouette of mountains"
      src="assets/img/EsportClub.jpg"
      style="height: 330px; width: 100%"
    />
    <ion-card-header>
      <ion-card-title style="text-align: center; color: aliceblue"
        >Esport Club</ion-card-title
      >
    </ion-card-header>
  </ion-card>
  <br />
  <ion-card color="light">
    <img
      alt="Silhouette of mountains"
      src="assets/img/GoldenNight.jpg"
      style="height: 370px; width: 100%"
    />
    <ion-card-header>
      <ion-card-title style="text-align: center; color: aliceblue"
        >Golden Night Event</ion-card-title
      >
    </ion-card-header>
  </ion-card>
  <br />
  <ion-card color="light">
    <img
      alt="Silhouette of mountains"
      src="assets/img/handball.jpg"
      style="height: 370px; width: 100%"
    />
    <ion-card-header>
      <ion-card-title style="text-align: center; color: aliceblue"
        >Handball Club</ion-card-title
      >
    </ion-card-header>
  </ion-card>
</ion-content>
