<ion-header [translucent]="true">
  <ion-toolbar color="dark" style="height: 70px; padding: 10px">
    <!-- Logo -->
    <img
      src="assets/img/EpQuestLogo.png"
      alt="Ionic logo"
      style="height: 50px; width: 50px"
    />
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- Search bar -->
<ion-content>
  <ion-searchbar
    animated="true"
    placeholder="Search clubs or events"
    [(ngModel)]="searchTerm"
    (ionChange)="filterClubsAndEvents()"
  ></ion-searchbar>

  <!-- end of search bar -->
  <!-- Activity and event card -->
  <ion-card *ngFor="let clubOrEvent of filteredClubsAndEvents" color="light">
    <img [src]="clubOrEvent.imageUrl" />
    <ion-card-header>
      <ion-card-title style="text-align: center; color: aliceblue"
        >{{ clubOrEvent.name }}</ion-card-title
      >
    </ion-card-header>
  </ion-card>
</ion-content>
