<ion-header [translucent]="true">
  <ion-toolbar color="dark" style="height: 70px; padding: 10px">
    <!-- Logo -->
    <img
      src="assets/img/EpQuestLogo.png"
      alt="Ionic logo"
      style="height: 50px; width: 50px"
    />
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Profile Logo -->
  <img class="profile-logo" src="assets/img/profilepicbruh.jpg" />
  <!-- end logo -->
  <!-- total ep point card -->
  <ion-card
    style="
      border-radius: 20px;
      padding: 10px;
      border: 4px solid black;
      background-color: #fef9f3;
    "
  >
    <ion-card-content
      style="display: flex; align-items: center; justify-content: space-between"
    >
      <div style="display: flex; align-items: center">
        <div
          style="display: flex; flex-direction: column; align-items: flex-start"
        >
          <h2 style="color: black">Total EP Points:</h2>
          <h1 style="color: black; font-weight: bolder; font-size: 40px">
            140 EP
          </h1>
        </div>
      </div>
      <img src="assets/img/medal.png" style="width: 80px; height: 80px" />
    </ion-card-content>
  </ion-card>
  <!-- end total ep point card -->
  <!-- profile card -->
  <ion-card
    style="
      border-radius: 20px;
      padding: 10px;
      border: 4px solid black;
      background-color: #fef9f3;
    "
  >
    <ion-card-header>
      <ion-card-title>Student ID:</ion-card-title>
      <ion-card-subtitle>22ftt1499</ion-card-subtitle>
    </ion-card-header>
    <ion-card-header>
      <ion-card-title>Full Name:</ion-card-title>
      <ion-card-subtitle>Dato Akmallala Bin Roslan</ion-card-subtitle>
    </ion-card-header>
    <ion-card-header>
      <ion-card-title>Group Code:</ion-card-title>
      <ion-card-subtitle>DWDT08</ion-card-subtitle>
    </ion-card-header>
    <ion-card-header>
      <ion-card-title>Course:</ion-card-title>
      <ion-card-subtitle>Diploma In Website Development</ion-card-subtitle>
    </ion-card-header>
    <ion-card-header>
      <ion-card-title>Email:</ion-card-title>
      <ion-card-subtitle style="margin-bottom: 10px">Lala02</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <!-- end profile card -->
  <!-- ep record and manage club button in one line -->
  <ion-row>
    <ion-col>
      <ion-button
        shape="round"
        expand="block"
        color="tertiary"
        routerLink="/profile/ep-record"
        ><ion-icon slot="start" name="folder"></ion-icon> EP Record</ion-button
      >
    </ion-col>
    <ion-col>
      <ion-button
        shape="round"
        expand="block"
        color="tertiary"
        routerLink="/profile/manage-club"
        ><ion-icon slot="start" name="list"></ion-icon>Manage Club</ion-button
      >
    </ion-col>
  </ion-row>
  <!-- end ep record and manage club button in one line -->
</ion-content>
