<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <!-- Logo -->
    <img
      src="assets/img/EpQuestLogo.png"
      alt="Ionic logo"
      style="height: 50px; width: 50px"
    />
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title> Welcome to Ionic </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>The world's most popular mobile development framework</p>
    </ion-card-content>
  </ion-card>
</ion-content>
