<ion-header [translucent]="true">
  <ion-toolbar color="dark" style="height: 70px; padding: 10px">
    <ion-title style="text-align: center">Esport Club</ion-title>
    <ion-buttons slot="start" style="margin-right: -40px">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="border-radius: 20px; padding: 0; margin: 20px">
    <img
      style="width: 100%; height: 250px; object-fit: cover"
      src="assets/img/EsportClub.jpg"
    />
  </ion-card>
  <!-- Event Description -->

  <ion-card
    style="border-radius: 20px; padding: 5px; margin: 10px; box-shadow: none"
  >
    <ion-card-header>
      <ion-card-title>Event Description</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row
          style="margin-left: -10px; margin-right: -10px; margin-top: -20px"
        >
          <ion-col size="8"
            ><p>
              Esport clubs can provide students with a positive social
              environment that includes quality mentors to help them experience
              and grow positive skills that can be applied in their educational
              and personal lives.
            </p>
            <br />
            <p style="margin-bottom: -20px">Club Managers</p>
            <br />
            <p>1. Mr. Aiman</p>
            <p>2. Mr. Aziz</p>
            <p>3. Mr. Amir</p>
            <br />
            <p style="margin-bottom: -20px">Location</p>
            <br />
            <p>Level 3, Student Centre</p>
            <br />
            <h2>Endorsed For EP!!</h2></ion-col
          >
          <ion-col>
            <img
              style="
                width: 100%;
                height: 120px;
                object-fit: cover;
                border-radius: 20px;
                margin-bottom: 20px;
              "
              src="assets/img/Legends.jpeg"
            />

            <img
              style="
                width: 100%;
                height: 120px;
                object-fit: cover;
                border-radius: 20px;
              "
              src="assets/img/gaming.jpg"
            />
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col
            ><!-- Join Button -->
            <ion-button
              expand="block"
              color="tertiary"
              shape="round"
              type="submit"
              >Joined!</ion-button
            ></ion-col
          >
          <ion-col
            ><!-- Join Button -->
            <ion-button
              expand="block"
              color="success"
              shape="round"
              type="submit"
              >Session</ion-button
            ></ion-col
          >
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>

<!-- footer -->
<ion-footer>
  <ion-toolbar color="dark" style="height: 70px"> </ion-toolbar>
</ion-footer>
